<footer>
  <div class="container">

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="fancy-header"><i class="fa fa-info"></i> About Stizelwebs</div>
        <p>Located in Dallas, Texas, Stizelwebs, a division of Stizel.com, designs and develops web-based applications for desktop and mobile platforms.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="fancy-header"><i class="fa fa-desktop"></i> Responsive Design</div>
        <p>All of our applications are mobile friendly.  Our web application designs give users engaging experiences on any device from phones to tablets to desktops.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="fancy-header"><i class="fa fa-quote-left"></i> Testimonials</div>
        <p>"It was a pleasure working with Stizelwebs to develop my website.  Stizelwebs successfully delivered on all of my requirements." <br/><span class="pull-right">-Kevin J. Stone</span></p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="fancy-header"><i class="fa fa-envelope-o"></i> Contact Us</div>
        <p>Have an idea?  We'd love to hear it.  We have the skills to help bring your idea to life. <%= link_to 'Contact Us', contact_stizel_path %> to find out more.</p>
      </div>
    </div>
  </div>


  <div class="sign-off">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          Copyright © <%= Time.now.year %> Stizelwebs.com
        </div>
        <div class="col-md-7 text-right">
           <%= link_to 'A Stizel.com Company.', 'http://www.stizel.com' %>
        </div>
      </div>
    </div>
  </div>
</footer>