<div class="splash">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">

        <div class="row">
          <p class="home-jumbo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae  turpis ligula. Aenean vitae lacus pharetra, adipiscing eros non,  tincidunt ipsum. Aenean vitae lacus pharetra, adipiscing eros non,  tincidunt ipsum.</p></div>
      </div>
    </div>

  </div>
</div>