@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$dark-blue: #162636;
$nav-blue: #2E5D7F;
$light-blue: #4996CC;
$dark-brown: #363016;
$light-brown: #826835;
$light-gray: #C9C9C9;
$dark-gray: #363636;
$white: #FFFFFF;
$off-white: #EEEEEE;
$footer-gray: #F6F8FB;




body {
    margin-top: 70px;
    color: darken($nav-blue, 10%);
//    font-family: 'Open Sans', 'sans-serif';
  font-family: 'Oxygen', 'sans-serif';
}

a {
  color: $nav-blue;
  text-decoration: none;
}

a:hover, a:focus {
  color: $nav-blue;
  text-decoration: underline;
}

/*************************************
**************************************
**************************************

    BEGIN HEADER STYLES

**************************************
**************************************
**************************************/



/*************************************
**************************************
**************************************

     END HEADER STYLES

**************************************
**************************************
**************************************/

h3 {
  font-family: 'Dancing Script', 'cursive';
}

.splash {
    padding: 5em 0px;
    background: url(https://s3.amazonaws.com/stizelwebs/img/banner.jpg) repeat-x;
    color: lighten($dark-blue, 10%);
    text-align: center;
    background-size: cover;
}


.home-jumbo {
    font-family: 'Dancing Script', 'cursive';
    font-size: 46px;
}

.pagehead {
    font-size: 40px;
    color: $dark-blue;
    font-family: 'Dancing Script', 'cursive';
}

.fancy-header {
  font-family: 'Dancing Script', 'cursive';
  font-size: 22px;
}

.navbar-brand {
}

/*************************************
**************************************
**************************************

    BEGIN NAV STYLES

**************************************
**************************************
**************************************/

.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 1030;
  padding: 10px 0px;
}



.navbar-default {
//  background-color: $light-blue;
//  background: url("https://s3.amazonaws.com/stizelwebs/img/gradient-bg-blue.jpg") repeat-y;
  background-color: $nav-blue;
  border-color: #E7E7E7;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $white;
  background-color: darken($nav-blue, 4%);
  border-radius: 5px;
}

.navbar-brand {
  /*font-family: 'Nixie One', cursive;*/
//  font-family: 'Pontano Sans', sans-serif;
//  font-family: 'Dancing Script', 'cursive';
}

.navbar-default .navbar-nav > li > a {
  color: $white;
}

.navbar-default .navbar-brand {
  color: $white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: $white;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $dark-blue;
  background-color: #E7E7E7;
}

.navbar.navbar-default.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li.active > a {
  color: $dark-blue;
  background-color: #E7E7E7;
  border-radius: 5px;
}


.navbar {
  border: none;
}



//Nav dropdown menu
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: $white;
  background-color: darken($nav-blue, 4%);
}

body > div.navbar.navbar-default.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li.active > a {
  color: $white;
  background-color: darken($nav-blue, 8%);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: $white;
  background-color: lighten($nav-blue, 5%);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: $white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: lighten($nav-blue, 2%);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
//  border-color: $nav-blue;
  border: none;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0px;
  margin: 2px 0px 0px;
  list-style: none outside none;
  font-size: 14px;
  background-color: darken($nav-blue, 4%);
  border: lighten($nav-blue, 10%);
  border-radius: 4px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
  background-clip: padding-box;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857;
  color: $white;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: $white;
  background-color: lighten($nav-blue, 5%);
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  color: $white;
  text-decoration: none;
  outline: 0;
  background-color: lighten($nav-blue, 5%);
}


.navbar-default .navbar-toggle {
  border: none;
}

.navbar-collapse {
  box-shadow: none;
}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: $white;
  background-color: $nav-blue;
}

/*************************************
**************************************
**************************************

     END NAV STYLES

**************************************
**************************************
**************************************/





/*************************************
**************************************
**************************************

    BEGIN CONTENT STYLES

**************************************
**************************************
**************************************/
.section-content > .container {
  background-color: $white;
  padding: 25px 20px;
}

.content-container {
    padding: 15px;
    background-color: #F1F1F1;
    color: #2b3e50;
}

.jumbotron {
    margin-bottom: 0;
    background:url(../img/background.jpg) no-repeat;
    min-height: 360px;
  p {
    /*color: #2B3E50;*/
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    color: #485563;
    font-size: 26px;
  }
}
.panel-body {
    color: $white;
}
.content-container-margin-top {
    margin-top: 40px;
}
.section-promo {
  padding: 25px 0px;
  background: url("https://s3.amazonaws.com/stizelwebs/img/gradient-bg-blue.jpg") repeat-y;
  color: $white;
}
.section-page-header {
    padding: 20px 0px;
    background: url(https://s3.amazonaws.com/stizelwebs/img/banner.jpg);
    color: $dark-blue;
}
.img-float-right {
  float: right;
  margin: 0 0 5px 10px;
//  border: 1px solid $dark-blue;
  padding: 2px;
}

.text-right {
  text-align: right;
}
/*************************************
**************************************
**************************************

     END CONTENT STYLES

**************************************
**************************************
**************************************/



/*************************************
**************************************
**************************************

     BEGIN FOOTER STYLES

**************************************
**************************************
**************************************/
footer {
//  background: url("https://s3.amazonaws.com/stizelwebs/img/gradient-bg-blue.jpg") repeat-y;
  background-color: darken($nav-blue, 15%);
  padding:60px 0 0;
  color: $off-white;

  hr {
    border: 1px solid rgba(238, 238, 238, .2);
  }

  p {
    padding-top: 10px;
    color: $off-white;
  }

  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }

  .nav > li > a:hover {
    background-color: $white;
  }
  .sign-off {
    padding: 15px 0;
    background-color: darken($nav-blue, 5%);
//    background: url('https://s3.amazonaws.com/stizelwebs/img/bg-sign-off.jpg') repeat-x;
    margin-top: 55px;
    a:hover {
      color: $white;
    }
  }
}
/*************************************
**************************************
**************************************

     END FOOTER STYLES

**************************************
**************************************
**************************************/



/* small screen portrait */

@media (max-width: 321px) {

  .pull-right {
    float: left !important;
  }

}


/* small screen landscape */

@media (max-width: 760px) {

  .pull-right {
    float: left !important;
  }

}