@charset "UTF-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Nixie+One);
@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);

$dark-blue: #162636;
$light-blue: #355C82;
$dark-brown: #363016;
$light-brown: #826835;
$light-gray: #C9C9C9;
$dark-gray: #363636;
$white: #FFFFFF;



body {
    /*background-color: #F8F8F8;*/
    background-color: $white;
    margin-top: 50px;
    color: $dark-blue;
}


/*************************************
**************************************
**************************************

    BEGIN HEADER STYLES

**************************************
**************************************
**************************************/



/*************************************
**************************************
**************************************

     END HEADER STYLES

**************************************
**************************************
**************************************/








.splash {
    padding: 6em 0px;
    background: url(https://s3.amazonaws.com/stizelwebs/img/banner.jpg) no-repeat;
    color: $dark-blue;
    text-align: center;
    background-size: cover;
}


.home-jumbo {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 32px;
}

.pagehead {
    font-size: 24px;
    color: $dark-blue;
}


/*************************************
**************************************
**************************************

    BEGIN NAV STYLES

**************************************
**************************************
**************************************/

.navbar-default {
  background-color: $light-blue;
  border-color: #E7E7E7;
}

.navbar-brand {
  /*font-family: 'Nixie One', cursive;*/
  font-family: 'Pontano Sans', sans-serif;
}

.navbar-default .navbar-nav > li > a {
  color: $white;
}

.navbar-default .navbar-brand {
  color: $white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: $white;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $dark-blue;
  background-color: #E7E7E7;
}

body > div.navbar.navbar-default.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li.active > a {
  color: $dark-blue;
  background-color: #E7E7E7;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  color: $white;
  text-decoration: none;
  outline: 0;
  background-color: $dark-blue;
}

.navbar {
  border: none;
}


/*************************************
**************************************
**************************************

     END NAV STYLES

**************************************
**************************************
**************************************/





/*************************************
**************************************
**************************************

    BEGIN CONTENT STYLES

**************************************
**************************************
**************************************/




.content-container {
    padding: 15px;
    background-color: #F1F1F1;
    color: #2b3e50;
}

.jumbotron {
    margin-bottom: 0;
    background:url(../img/background.jpg) no-repeat;
    min-height: 360px;
}

.jumbotron p {
    /*color: #2B3E50;*/
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    color: #485563;
    font-size: 26px;
}
.kevinname {
    color: #2B3E50;
    font-size: 46px;
    font-family: 'Audiowide', cursive;
}
.panel-body {
    color: $white;
}

.content-container-margin-top {
    margin-top: 40px;
}

.section-promo {
    padding: 30px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
//    background: url("https://s3.amazonaws.com/stizelwebs/img/gradient-bg-blue.jpg") repeat-y;
    background-color: $dark-blue;
    color: $white;
}

.section-page-header {
    padding: 20px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: url(https://s3.amazonaws.com/stizelwebs/img/banner.jpg);
    color: $dark-blue;
}

.section-content {
    padding: 20px 0;
}


.img-float-right {
  float: right;
  margin: 0 0 5px 10px;
  border: 1px solid $dark-blue;
  padding: 2px;
}



/*************************************
**************************************
**************************************

     END CONTENT STYLES

**************************************
**************************************
**************************************/






/*************************************
**************************************
**************************************

     BEGIN FOOTER STYLES

**************************************
**************************************
**************************************/
footer {
  background-color: $dark-blue;
  padding:20px 0;
  color: #EEEEEE;
  min-height:150px;
}

footer hr {
  border-color: #2F3E4D;
}

footer p {
  padding-top: 10px;
  color: #EEEEEE;
}

footer a {
  color: $white;
}

footer .nav > li > a:hover {
  background-color: $white;
}

/*************************************
**************************************
**************************************

     END FOOTER STYLES

**************************************
**************************************
**************************************/